@font-face {
    src: url("../fonts/BerkshireSwash-Regular.ttf");
}

@font-face {
    src: url("../fonts/Merriweather-Regular.ttf");
}

.mainPane {
    -fx-background-image: url("../img/misc/parquet_backgroundV2.jpg");
    -fx-background-size: cover;
    -fx-alignment: CENTER;
}

.boardArea {
    -fx-max-height: 750px;
    -fx-min-height: 750px;

    -fx-max-width: 1300px;
    -fx-min-width: 1300px;
}

.turnOwner {
    -fx-effect: dropshadow(gaussian, #F44336, 15, 0.2, 0, 0);
}

.notTurnOwner {
    -fx-opacity: 0.5;
}

.board {
    -fx-image: url("../img/boards/livingroom.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

.shelf {
    -fx-image: url("../img/boards/bookshelf_orth.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

.boardShelf {
    -fx-min-width: 656px;
    -fx-max-width: 660px;
}

.cornice-1 {
    -fx-image: url("../img/item tiles/Cornici1.1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

.cornice-2 {
    -fx-image: url("../img/item tiles/Cornici1.2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

.cornice-3 {
    -fx-image: url("../img/item tiles/Cornici1.2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

.gatto-1 {
    -fx-image: url("../img/item tiles/Gatti1.1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

.gatto-2 {
    -fx-image: url("../img/item tiles/Gatti1.2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

.gatto-3 {
    -fx-image: url("../img/item tiles/Gatti1.3.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

.gioco-1 {
    -fx-image: url("../img/item tiles/Giochi1.1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

.gioco-2 {
    -fx-image: url("../img/item tiles/Giochi1.2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

.gioco-3 {
    -fx-image: url("../img/item tiles/Giochi1.3.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

.libro-1 {
    -fx-image: url("../img/item tiles/Giochi1.3.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

.libro-2 {
    -fx-image: url("../img/item tiles/Giochi1.3.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

.libro-3 {
    -fx-image: url("../img/item tiles/Giochi1.3.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

.pianta-1 {
    -fx-image: url("../img/item tiles/Giochi1.3.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

.pianta-2 {
    -fx-image: url("../img/item tiles/Giochi1.3.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

.pianta-3 {
    -fx-image: url("../img/item tiles/Giochi1.3.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

.trofeo-1 {
    -fx-image: url("../img/item tiles/Giochi1.3.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

.trofeo-2 {
    -fx-image: url("../img/item tiles/Giochi1.3.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

.trofeo-3 {
    -fx-image: url("../img/item tiles/Giochi1.3.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

.commonGoalCard-1 {
    -fx-image: url("../img/common goal cards/1.jpg");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

.commonGoalCard-2 {
    -fx-image: url("../img/common goal cards/2.jpg");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

.commonGoalCard-3 {
    -fx-image: url("../img/common goal cards/3.jpg");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

.commonGoalCard-4 {
    -fx-image: url("../img/common goal cards/4.jpg");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

.commonGoalCard-5 {
    -fx-image: url("../img/common goal cards/5.jpg");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

.commonGoalCard-6 {
    -fx-image: url("../img/common goal cards/6.jpg");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

.commonGoalCard-7 {
    -fx-image: url("../img/common goal cards/7.jpg");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

.commonGoalCard-8 {
    -fx-image: url("../img/common goal cards/8.jpg");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

.commonGoalCard-9 {
    -fx-image: url("../img/common goal cards/9.jpg");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

.commonGoalCard-10 {
    -fx-image: url("../img/common goal cards/10.jpg");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

.commonGoalCard-11 {
    -fx-image: url("../img/common goal cards/11.jpg");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

.commonGoalCard-12 {
    -fx-image: url("../img/common goal cards/12.jpg");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

