@font-face {
    src: url("../fonts/BerkshireSwash-Regular.ttf");
}

@font-face {
    src: url("../fonts/Merriweather-Regular.ttf");
}

.mainPane {
    -fx-background-image: url("../img/misc/parquet_backgroundV2.jpg");
    -fx-background-size: cover;
    -fx-alignment: CENTER;
}

.boardArea {
    -fx-max-height: 750px;
    -fx-min-height: 750px;

    -fx-max-width: 1300px;
    -fx-min-width: 1300px;
}

.turnOwner {
    -fx-effect: dropshadow(gaussian, #F44336, 15, 0.2, 0, 0);
}

.notTurnOwner {
    -fx-opacity: 0.5;
}

.board {
    -fx-image: url("../img/boards/livingroom.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

.shelf {
    -fx-image: url("../img/boards/bookshelf_orth.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

.shelfScroll {
    -fx-background-color: transparent;
}

.shelfScroll .viewport {
    -fx-background-color: transparent;
}

.shelfScroll .scroll-bar:vertical .track,
.shelfScroll .scroll-bar:horizontal .track {
    -fx-background-color: transparent;
}

.shelfScroll .scroll-bar:vertical .thumb,
.shelfScroll .scroll-bar:horizontal .thumb {
    -fx-background-color: transparent;
}

.shelfLabel {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-padding: 5px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-translate-y: -10;
    -fx-border-color: #682110;
    -fx-border-width: 2px;
}

.topEndBox {
    -fx-padding: 50 0 0 0;
    -fx-alignment: CENTER;
}

.centerEndBox {
    -fx-max-width: 1200px;
    -fx-alignment: CENTER;
}

.botEndBox {
    -fx-padding: 0 0 50 0;
    -fx-alignment: CENTER;
}

.endTitle {
    -fx-font-family: "Berkshire Swash Regular";
    -fx-font-size: 50px;
    -fx-text-fill: #F1E1B2;
}

.endTable {
    -fx-min-width: 1305px;
    -fx-max-width: 1305px;

    -fx-min-height: 500px;
    -fx-max-height: 500px;

    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.endTable:focused{
    -fx-background-color: transparent;
}

.endTable .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

.endTable .column-header {
    -fx-background-color: transparent;
}

.endTable .column-header-background {
    -fx-background-color: transparent;
}

.endTable .column-header-background .filler {
    -fx-background-color: transparent;
}

.endTable .column-header-background .label{
    -fx-background-color: transparent;

    -fx-font-family: "Berkshire Swash Regular";
    -fx-font-size: 25px;
    -fx-text-fill: #F44336;

    -fx-padding: 20 0 20 0;
}

.endTable .placeholder {
    -fx-background-color: transparent;
}

.endTable .table-column {
    -fx-alignment:  center;
    -fx-font-family: "Merriweather Regular";
    -fx-font-size: 20px;
    -fx-text-fill: #F44336;
}

.table-row-cell {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-table-cell-border-color: transparent;
}

.endRankColumn {
    -fx-pref-width: 100px;
}

.endPlayerColumn {
    -fx-pref-width: 860px;
}

.endPointsColumn {
    -fx-pref-width: 220px;
}

.gridPane {
    -fx-hgap: 1;
    -fx-vgap: 1;
}

.tileBoard {
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#transparent {
    -fx-image: url("/img/item tiles/transparent.png");
}

#frame-1 {
    -fx-image: url("/img/item tiles/frame-1.png");
}

#frame-2 {
    -fx-image: url("/img/item tiles/frame-2.png");
}

#frame-3 {
    -fx-image: url("/img/item tiles/frame-3.png");
}

#cat-1 {
    -fx-image: url("/img/item tiles/cat-1.png");
}

#cat-2 {
    -fx-image: url("/img/item tiles/cat-2.png");
}

#cat-3 {
    -fx-image: url("/img/item tiles/cat-3.png");
}

#game-1 {
    -fx-image: url("/img/item tiles/game-1.png");
}

#game-2 {
    -fx-image: url("/img/item tiles/game-2.png");
}

#game-3 {
    -fx-image: url("/img/item tiles/game-3.png");
}

#book-1 {
    -fx-image: url("/img/item tiles/book-1.png");
}

#book-2 {
    -fx-image: url("/img/item tiles/book-2.png");
}

#book-3 {
    -fx-image: url("/img/item tiles/book-3.png");
}

#plant-1 {
    -fx-image: url("/img/item tiles/plant-1.png");
}

#plant-2 {
    -fx-image: url("/img/item tiles/plant-2.png");
}

#plant-3 {
    -fx-image: url("/img/item tiles/plant-3.png");
}

#trophy-1 {
    -fx-image: url("/img/item tiles/trophy-1.png");
}

#trophy-2 {
    -fx-image: url("/img/item tiles/trophy-2.png");
}

#trophy-3 {
    -fx-image: url("/img/item tiles/trophy-3.png");
}

#commonGoalCard-1 {
    -fx-image: url("/img/common goal cards/1.jpg");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#commonGoalCard-2 {
    -fx-image: url("/img/common goal cards/2.jpg");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#commonGoalCard-3 {
    -fx-image: url("/img/common goal cards/3.jpg");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#commonGoalCard-4 {
    -fx-image: url("/img/common goal cards/4.jpg");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#commonGoalCard-5 {
    -fx-image: url("/img/common goal cards/5.jpg");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#commonGoalCard-6 {
    -fx-image: url("/img/common goal cards/6.jpg");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#commonGoalCard-7 {
    -fx-image: url("/img/common goal cards/7.jpg");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#commonGoalCard-8 {
    -fx-image: url("/img/common goal cards/8.jpg");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#commonGoalCard-9 {
    -fx-image: url("/img/common goal cards/9.jpg");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#commonGoalCard-10 {
    -fx-image: url("/img/common goal cards/10.jpg");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#commonGoalCard-11 {
    -fx-image: url("/img/common goal cards/11.jpg");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#commonGoalCard-12 {
    -fx-image: url("/img/common goal cards/12.jpg");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#exitButton {
    -fx-image: url("/img/button/exitbutton.png");
}

