@font-face {
    src: url("../fonts/BerkshireSwash-Regular.ttf");
}

@font-face {
    src: url("../fonts/Merriweather-Regular.ttf");
}

.mainPane {
    -fx-background-image: url("../img/misc/parquet_backgroundV3.png");
    -fx-background-size: cover;
    -fx-alignment: CENTER;
}

/*
.turnOwner {
    -fx-effect: dropshadow(gaussian, #F44336, 15, 0.2, 0, 0);
}

.notTurnOwner {
    -fx-opacity: 0.5;
}
 */

.commonGoalCardsHBoxArea {
    -fx-spacing: 68;
    -fx-alignment: CENTER;
}

/* Areas */

.gameStackPaneArea {
    -fx-max-height: 750px;
    -fx-min-height: 750px;

    -fx-max-width: 1300px;
    -fx-min-width: 1300px;
}

.boardShelfHBoxArea {
    -fx-spacing: 10;
    -fx-alignment: CENTER;
}

.boardCommonGoalCardsVBoxArea {
    -fx-spacing: 25;
}

.boardStackPaneArea {
    /* Fissare una dimensione in modo tale da non fissare la dimensione dell'immagine, ma sarà l'immagine a riempire tutto lo spazio dello stack pane */
    -fx-alignment: CENTER;
}

/* Board */

.boardImage {
    -fx-image: url("/img/board_shelf/livingroom.png");
    -fx-background-radius: 20;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

.boardGridPane {
    /*
    -fx-alignment: CENTER;
    -fx-translate-x: -2.0;
    -fx-vgap: 6.0;
    -fx-hgap: 6.0;
    Da capire perché non funzionano
     */
}

/* Shelf */

.shelf {
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

.shelfGridPane {

}

.shelfLimboVBoxArea {
    /*-fx-spacing: 25;*/
}

#arrowShelf {
    -fx-image: url("/img/misc/arrow_shelf.png");
}

.shelfScrollPane {
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
}

.shelfScrollPane .viewport {
    -fx-background-color: transparent;
}

.shelfScrollPane .scroll-bar:vertical .track,
.shelfScrollPane .scroll-bar:horizontal .track {
    -fx-background-color: transparent;
}

.shelfScrollPane .scroll-bar:vertical .thumb,
.shelfScrollPane .scroll-bar:horizontal .thumb {
    -fx-background-color: transparent;
}

.shelfHBoxImages {

}

.shelfLabel {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-padding: 5px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-translate-y: -10;
    -fx-border-color: #682110;
    -fx-border-width: 2px;
}

.columnArrowAnchorPane {
    -fx-alignment: CENTER;
}

/* Player name */

.playersNamePaneArea {

}

.playerInfo {
    -fx-alignment: center;
    -fx-font-family: "Merriweather Regular";
    -fx-font-size: 15px;
    -fx-text-fill: #6C2310;
}

.labelSeparator {
    -fx-border-color: #F1E1B2;
}

/* Limbo */

.limboHBoxArea {
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-spacing: 25;
    -fx-alignment: CENTER;
}

/* End scene */

.topEndBox {
    -fx-padding: 50 0 0 0;
    -fx-alignment: CENTER;
}

.centerEndBox {
    -fx-max-width: 1200px;
    -fx-alignment: CENTER;
}

.botEndBox {
    -fx-padding: 0 0 50 0;
    -fx-alignment: CENTER;
}

.endTitle {
    -fx-font-family: "Berkshire Swash Regular";
    -fx-font-size: 50px;
    -fx-text-fill: #F1E1B2;
    -fx-effect: dropshadow(three-pass-box, #796939, 1, 1.0, 0, 0);
}

.endTable {
    -fx-min-width: 1305px;
    -fx-max-width: 1305px;

    -fx-min-height: 500px;
    -fx-max-height: 500px;

    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.endTable:focused{
    -fx-background-color: transparent;
}

.endTable .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

.endTable .column-header {
    -fx-background-color: transparent;
}

.endTable .column-header-background {
    -fx-background-color: transparent;
}

.endTable .column-header-background .filler {
    -fx-background-color: transparent;
}

.endTable .column-header-background .label{
    -fx-background-color: transparent;

    -fx-font-family: "Berkshire Swash Regular";
    -fx-font-size: 25px;
    -fx-text-fill: #F1E1B2;
    -fx-effect: dropshadow(three-pass-box, #796939, 0.3, 1.0, 0, 0);

    -fx-padding: 20 0 20 0;
}

.endTable .placeholder {
    -fx-background-color: transparent;
}

.endTable .table-column {
    -fx-alignment:  center;
    -fx-font-family: "Merriweather Regular";
    -fx-font-size: 20px;
    -fx-text-fill: #F1E1B2;
    -fx-effect: dropshadow(three-pass-box, #796939, 0.3, 1.0, 0, 0);
}

.table-row-cell {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-table-cell-border-color: transparent;
}

.endRankColumn {
    -fx-pref-width: 100px;
}

.endPlayerColumn {
    -fx-pref-width: 860px;
}

.endPointsColumn {
    -fx-pref-width: 220px;
}

/* Object cards */

#transparent {
    -fx-image: url("/img/object_cards/transparent.png");
}

#Frame-00 {
    -fx-image: url("/img/object_cards/Frame-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Frame-01 {
    -fx-image: url("/img/object_cards/Frame-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Frame-02 {
    -fx-image: url("/img/object_cards/Frame-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Frame-03 {
    -fx-image: url("/img/object_cards/Frame-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Frame-04 {
    -fx-image: url("/img/object_cards/Frame-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Frame-05 {
    -fx-image: url("/img/object_cards/Frame-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Frame-06 {
    -fx-image: url("/img/object_cards/Frame-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Frame-07 {
    -fx-image: url("/img/object_cards/Frame-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Frame-10 {
    -fx-image: url("/img/object_cards/Frame-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Frame-11 {
    -fx-image: url("/img/object_cards/Frame-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Frame-12 {
    -fx-image: url("/img/object_cards/Frame-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Frame-13 {
    -fx-image: url("/img/object_cards/Frame-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Frame-14 {
    -fx-image: url("/img/object_cards/Frame-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Frame-15 {
    -fx-image: url("/img/object_cards/Frame-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Frame-16 {
    -fx-image: url("/img/object_cards/Frame-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Frame-17 {
    -fx-image: url("/img/object_cards/Frame-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Frame-20 {
    -fx-image: url("/img/object_cards/Frame-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Frame-21 {
    -fx-image: url("/img/object_cards/Frame-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Frame-22 {
    -fx-image: url("/img/object_cards/Frame-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Frame-23 {
    -fx-image: url("/img/object_cards/Frame-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Frame-24 {
    -fx-image: url("/img/object_cards/Frame-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Frame-25 {
    -fx-image: url("/img/object_cards/Frame-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Frame-26 {
    -fx-image: url("/img/object_cards/Frame-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Frame-27 {
    -fx-image: url("/img/object_cards/Frame-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Cat-00 {
    -fx-image: url("/img/object_cards/Cat-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Cat-01 {
    -fx-image: url("/img/object_cards/Cat-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Cat-02 {
    -fx-image: url("/img/object_cards/Cat-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Cat-03 {
    -fx-image: url("/img/object_cards/Cat-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Cat-04 {
    -fx-image: url("/img/object_cards/Cat-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Cat-05 {
    -fx-image: url("/img/object_cards/Cat-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Cat-06 {
    -fx-image: url("/img/object_cards/Cat-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Cat-07 {
    -fx-image: url("/img/object_cards/Cat-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Cat-10 {
    -fx-image: url("/img/object_cards/Cat-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Cat-11 {
    -fx-image: url("/img/object_cards/Cat-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Cat-12 {
    -fx-image: url("/img/object_cards/Cat-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Cat-13 {
    -fx-image: url("/img/object_cards/Cat-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Cat-14 {
    -fx-image: url("/img/object_cards/Cat-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Cat-15 {
    -fx-image: url("/img/object_cards/Cat-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Cat-16 {
    -fx-image: url("/img/object_cards/Cat-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Cat-17 {
    -fx-image: url("/img/object_cards/Cat-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Cat-20 {
    -fx-image: url("/img/object_cards/Cat-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Cat-21 {
    -fx-image: url("/img/object_cards/Cat-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Cat-22 {
    -fx-image: url("/img/object_cards/Cat-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Cat-23 {
    -fx-image: url("/img/object_cards/Cat-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Cat-24 {
    -fx-image: url("/img/object_cards/Cat-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Cat-25 {
    -fx-image: url("/img/object_cards/Cat-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Cat-26 {
    -fx-image: url("/img/object_cards/Cat-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Cat-27 {
    -fx-image: url("/img/object_cards/Cat-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Game-00 {
    -fx-image: url("/img/object_cards/Game-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Game-01 {
    -fx-image: url("/img/object_cards/Game-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Game-02 {
    -fx-image: url("/img/object_cards/Game-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Game-03 {
    -fx-image: url("/img/object_cards/Game-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Game-04 {
    -fx-image: url("/img/object_cards/Game-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Game-05 {
    -fx-image: url("/img/object_cards/Game-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Game-06 {
    -fx-image: url("/img/object_cards/Game-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Game-07 {
    -fx-image: url("/img/object_cards/Game-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Game-10 {
    -fx-image: url("/img/object_cards/Game-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Game-11 {
    -fx-image: url("/img/object_cards/Game-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Game-12 {
    -fx-image: url("/img/object_cards/Game-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Game-13 {
    -fx-image: url("/img/object_cards/Game-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Game-14 {
    -fx-image: url("/img/object_cards/Game-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Game-15 {
    -fx-image: url("/img/object_cards/Game-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Game-16 {
    -fx-image: url("/img/object_cards/Game-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Game-17 {
    -fx-image: url("/img/object_cards/Game-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Game-20 {
    -fx-image: url("/img/object_cards/Game-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Game-21 {
    -fx-image: url("/img/object_cards/Game-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Game-22 {
    -fx-image: url("/img/object_cards/Game-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Game-23 {
    -fx-image: url("/img/object_cards/Game-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Game-24 {
    -fx-image: url("/img/object_cards/Game-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Game-25 {
    -fx-image: url("/img/object_cards/Game-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Game-26 {
    -fx-image: url("/img/object_cards/Game-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Game-27 {
    -fx-image: url("/img/object_cards/Game-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Book-00 {
    -fx-image: url("/img/object_cards/Book-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Book-01 {
    -fx-image: url("/img/object_cards/Book-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Book-02 {
    -fx-image: url("/img/object_cards/Book-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Book-03 {
    -fx-image: url("/img/object_cards/Book-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Book-04 {
    -fx-image: url("/img/object_cards/Book-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Book-05 {
    -fx-image: url("/img/object_cards/Book-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Book-06 {
    -fx-image: url("/img/object_cards/Book-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Book-07 {
    -fx-image: url("/img/object_cards/Book-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Book-10 {
    -fx-image: url("/img/object_cards/Book-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Book-11 {
    -fx-image: url("/img/object_cards/Book-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Book-12 {
    -fx-image: url("/img/object_cards/Book-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Book-13 {
    -fx-image: url("/img/object_cards/Book-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Book-14 {
    -fx-image: url("/img/object_cards/Book-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Book-15 {
    -fx-image: url("/img/object_cards/Book-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Book-16 {
    -fx-image: url("/img/object_cards/Book-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Book-17 {
    -fx-image: url("/img/object_cards/Book-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Book-20 {
    -fx-image: url("/img/object_cards/Book-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Book-21 {
    -fx-image: url("/img/object_cards/Book-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Book-22 {
    -fx-image: url("/img/object_cards/Book-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Book-23 {
    -fx-image: url("/img/object_cards/Book-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Book-24 {
    -fx-image: url("/img/object_cards/Book-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Book-25 {
    -fx-image: url("/img/object_cards/Book-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Book-26 {
    -fx-image: url("/img/object_cards/Book-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Book-27 {
    -fx-image: url("/img/object_cards/Book-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Plant-00 {
    -fx-image: url("/img/object_cards/Plant-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Plant-01 {
    -fx-image: url("/img/object_cards/Plant-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Plant-02 {
    -fx-image: url("/img/object_cards/Plant-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Plant-03 {
    -fx-image: url("/img/object_cards/Plant-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Plant-04 {
    -fx-image: url("/img/object_cards/Plant-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Plant-05 {
    -fx-image: url("/img/object_cards/Plant-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Plant-06 {
    -fx-image: url("/img/object_cards/Plant-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Plant-07 {
    -fx-image: url("/img/object_cards/Plant-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Plant-10 {
    -fx-image: url("/img/object_cards/Plant-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Plant-11 {
    -fx-image: url("/img/object_cards/Plant-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Plant-12 {
    -fx-image: url("/img/object_cards/Plant-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Plant-13 {
    -fx-image: url("/img/object_cards/Plant-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Plant-14 {
    -fx-image: url("/img/object_cards/Plant-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Plant-15 {
    -fx-image: url("/img/object_cards/Plant-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Plant-16 {
    -fx-image: url("/img/object_cards/Plant-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Plant-17 {
    -fx-image: url("/img/object_cards/Plant-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Plant-20 {
    -fx-image: url("/img/object_cards/Plant-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Plant-21 {
    -fx-image: url("/img/object_cards/Plant-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Plant-22 {
    -fx-image: url("/img/object_cards/Plant-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Plant-23 {
    -fx-image: url("/img/object_cards/Plant-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Plant-24 {
    -fx-image: url("/img/object_cards/Plant-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Plant-25 {
    -fx-image: url("/img/object_cards/Plant-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Plant-26 {
    -fx-image: url("/img/object_cards/Plant-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Plant-27 {
    -fx-image: url("/img/object_cards/Plant-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Trophy-00 {
    -fx-image: url("/img/object_cards/Trophy-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Trophy-01 {
    -fx-image: url("/img/object_cards/Trophy-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Trophy-02 {
    -fx-image: url("/img/object_cards/Trophy-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Trophy-03 {
    -fx-image: url("/img/object_cards/Trophy-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Trophy-04 {
    -fx-image: url("/img/object_cards/Trophy-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Trophy-05 {
    -fx-image: url("/img/object_cards/Trophy-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Trophy-06 {
    -fx-image: url("/img/object_cards/Trophy-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Trophy-07 {
    -fx-image: url("/img/object_cards/Trophy-0.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Trophy-10 {
    -fx-image: url("/img/object_cards/Trophy-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Trophy-11 {
    -fx-image: url("/img/object_cards/Trophy-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Trophy-12 {
    -fx-image: url("/img/object_cards/Trophy-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Trophy-13 {
    -fx-image: url("/img/object_cards/Trophy-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Trophy-14 {
    -fx-image: url("/img/object_cards/Trophy-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Trophy-15 {
    -fx-image: url("/img/object_cards/Trophy-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Trophy-16 {
    -fx-image: url("/img/object_cards/Trophy-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Trophy-17 {
    -fx-image: url("/img/object_cards/Trophy-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Trophy-20 {
    -fx-image: url("/img/object_cards/Trophy-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Trophy-21 {
    -fx-image: url("/img/object_cards/Trophy-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Trophy-22 {
    -fx-image: url("/img/object_cards/Trophy-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Trophy-23 {
    -fx-image: url("/img/object_cards/Trophy-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Trophy-24 {
    -fx-image: url("/img/object_cards/Trophy-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Trophy-25 {
    -fx-image: url("/img/object_cards/Trophy-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Trophy-26 {
    -fx-image: url("/img/object_cards/Trophy-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#Trophy-27 {
    -fx-image: url("/img/object_cards/Trophy-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

/* Common goal cards */

#commonGoalCard-1 {
    -fx-image: url("/img/common_goal_cards/commonGoalCard-1.jpg");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#commonGoalCard-2 {
    -fx-image: url("/img/common_goal_cards/commonGoalCard-2.jpg");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#commonGoalCard-3 {
    -fx-image: url("/img/common_goal_cards/commonGoalCard-3.jpg");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#commonGoalCard-4 {
    -fx-image: url("/img/common_goal_cards/commonGoalCard-4.jpg");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#commonGoalCard-5 {
    -fx-image: url("/img/common_goal_cards/commonGoalCard-5.jpg");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#commonGoalCard-6 {
    -fx-image: url("/img/common_goal_cards/commonGoalCard-6.jpg");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#commonGoalCard-7 {
    -fx-image: url("/img/common_goal_cards/commonGoalCard-7.jpg");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#commonGoalCard-8 {
    -fx-image: url("/img/common_goal_cards/commonGoalCard-8.jpg");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#commonGoalCard-9 {
    -fx-image: url("/img/common_goal_cards/commonGoalCard-9.jpg");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#commonGoalCard-10 {
    -fx-image: url("/img/common_goal_cards/commonGoalCard-10.jpg");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#commonGoalCard-11 {
    -fx-image: url("/img/common_goal_cards/commonGoalCard-11.jpg");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#commonGoalCard-12 {
    -fx-image: url("/img/common_goal_cards/commonGoalCard-12.jpg");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

.commonGoalCardInfoPanel {
    -fx-alignment: center;
    visibility: hidden;
}

/* Personal goal cards */

.personalGoalCardPane {
    -fx-alignment: CENTER;
}

#personalGoalCard-1 {
    -fx-image: url("/img/personal_goal_cards/personalGoalCard-1.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#personalGoalCard-2 {
    -fx-image: url("/img/personal_goal_cards/personalGoalCard-2.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#personalGoalCard-3 {
    -fx-image: url("/img/personal_goal_cards/personalGoalCard-3.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#personalGoalCard-4 {
    -fx-image: url("/img/personal_goal_cards/personalGoalCard-4.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#personalGoalCard-5 {
    -fx-image: url("/img/personal_goal_cards/personalGoalCard-5.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#personalGoalCard-6 {
    -fx-image: url("/img/personal_goal_cards/personalGoalCard-6.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#personalGoalCard-7 {
    -fx-image: url("/img/personal_goal_cards/personalGoalCard-7.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#personalGoalCard-8 {
    -fx-image: url("/img/personal_goal_cards/personalGoalCard-8.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#personalGoalCard-9 {
    -fx-image: url("/img/personal_goal_cards/personalGoalCard-9.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#personalGoalCard-10 {
    -fx-image: url("/img/personal_goal_cards/personalGoalCard-10.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#personalGoalCard-11 {
    -fx-image: url("/img/personal_goal_cards/personalGoalCard-11.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

#personalGoalCard-12 {
    -fx-image: url("/img/personal_goal_cards/personalGoalCard-12.png");
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

/* Scoring */

#scoring-2 {
    -fx-image: url("/img/scoring_tokens/scoring-2.jpg");
}

#scoring-4 {
    -fx-image: url("/img/scoring_tokens/scoring-4.jpg");
}

#scoring-6 {
    -fx-image: url("/img/scoring_tokens/scoring-6.jpg");
}

#scoring-8 {
    -fx-image: url("/img/scoring_tokens/scoring-8.jpg");
}

/* End game */

.endGameTokenImage {
    -fx-image: url("/img/scoring_tokens/end_game.jpg");
}

/* Buttons */

.button:hover {
    -fx-effect: dropshadow(gaussian, #F44336, 15, 0.2, 0, 0);
}

.button:pressed {
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}

.selectionButton {
    -fx-spacing: 50;
    -fx-alignment: CENTER;
}

#exitButton {
    -fx-image: url("/img/buttons/exitButton.png");
}

#boardPickCard {
    -fx-image: url("/img/buttons/boardPickCard.png");
}

#loadShelf {
    -fx-image: url("/img/buttons/loadShelf.png");
}

#reorderLimbo {
    -fx-image: url("/img/buttons/reorderLimbo.png");
}

#deleteLimbo {
    -fx-image: url("/img/buttons/deleteLimbo.png");
}

/* Action list */

.actionList {
    -fx-min-width: 400px;
    -fx-max-width: 400px;
}

/* Info label */

.infoLabel {
    -fx-alignment: center;
    -fx-font-family: "Merriweather Regular";
    -fx-font-size: 13px;
    -fx-text-fill: #6C2310;
}