@font-face {
    src: url("../fonts/BerkshireSwash-Regular.ttf");
}

@font-face {
    src: url("../fonts/Merriweather-Regular.ttf");
}

/* Main menu */

.mainPane {
    -fx-background-image: url("../img/logos/Display_5.jpg");
    -fx-background-size: cover;
    -fx-alignment: CENTER;
}

.topBox {
    -fx-padding: 50 0 0 0;
    -fx-alignment: CENTER;
}

.centerBox {
    -fx-max-width: 500px;
    -fx-spacing: 10;
    -fx-alignment: CENTER;
}

.botBox {
    -fx-padding: 0 0 50 0;
    -fx-alignment: CENTER;
}

.button:hover {
    -fx-effect: dropshadow(gaussian, #F44336, 15, 0.2, 0, 0);
}

.button:pressed {
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}

.menuTitle {
    -fx-font-family: "Berkshire Swash Regular";
    -fx-font-size: 50px;
    -fx-text-fill: #F1E1B2;
}

.menuLabel {
    -fx-font-family: "Merriweather Regular";
    -fx-font-size: 25px;
    -fx-text-fill: #F1E1B2;
}

.menuTextField {
    -fx-background-color: rgba(136, 188, 231, .5);
    -fx-border-color: #582400;
    -fx-border-width: 2px;
    -fx-border-radius: 1px;

    -fx-font-family: "Merriweather Regular";
    -fx-font-size: 20px;
    -fx-text-fill: #F1E1B2;
    -fx-alignment: center;
}

.menuTextField:error {
    -fx-border-color: red;
}

/* Dialog */

.dialogPane {
    -fx-background-image: url("../img/misc/parquet_dialog.jpg");
}

.topDialog {
    -fx-max-height: 75;
    -fx-min-height: 75;
}

.centerDialog {
    -fx-max-height: 125;
    -fx-min-height: 125;
}

.botDialog {
    -fx-max-height: 100;
    -fx-min-height: 100;
}

.dialogTitle {
    -fx-font-family: "Berkshire Swash Regular";
    -fx-font-style: italic;
    -fx-font-size: 30px;
    -fx-text-fill: #f35137;
}

.dialogLabel {
    -fx-font-family: "Merriweather Regular";
    -fx-font-size: 25px;
    -fx-wrap-text: true;
}

/* Connection */

.connectBox {
    -fx-spacing: 50;
    -fx-alignment: CENTER;
}

/* Lobby */

.usernameBox {
    -fx-min-width: 1300px;
    -fx-max-width: 1300px;
    -fx-padding: 10 10 10 10;
    -fx-spacing: 20;
    -fx-alignment: CENTER;
}

.lobbyInnerBox {
    -fx-min-height: 370px;
    -fx-max-height: 370px;
    -fx-min-width: 500px;
    -fx-max-width: 500px;
    -fx-spacing: 20;
}

.playerRow {
    -fx-min-width: 500px;
    -fx-max-width: 500px;
    -fx-padding: 10 10 10 10;
    -fx-background-color: rgba(136, 188, 231, .5);

    -fx-font-family: "Merriweather Regular";
    -fx-font-size: 25px;
    -fx-text-fill: #F1E1B2;

    -fx-border-color: #582400;
    -fx-border-width: 2px;
    -fx-border-radius: 1px;
}

/* Images */

#logoImage {
    -fx-image: url("/img/logos/nanoTitle.png");
}

#startButton {
    -fx-image: url("/img/button/startbutton.png");
}

#exitButton {
    -fx-image: url("/img/button/exitbutton.png");
}

#connectSocketButton {
    -fx-image: url("/img/button/connectsocketbutton.png");
}

#connectRmiButton {
    -fx-image: url("/img/button/connectrmibutton.png");
}

#backButton {
    -fx-image: url("/img/button/backbutton.png");
}

#okButton {
    -fx-image: url("/img/button/okbutton.png");
}

/* Number of players */

.numberPlayersButton {
    -fx-max-width: 1500px;
    -fx-hgap: 10;
    -fx-vgap: 20;
    -fx-alignment: CENTER;
}